<h1>add product</h1>
<form>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">ID</span>
        </div>
        <input type="text" aria-label="ID" name="id" id="id" class="form-control" formControlName="id">
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Title</span>
        </div>
        <input type="text" aria-label="title" name="id" id="title" class="form-control" formControlName="title">
    </div>
    <div>
        <div class="input-group-prepend">
            <span class="input-group-text">Price</span>
        </div>
        <input type="text" aria-label="price" name="price" id="price" class="form-control" formControlName="price">
    </div>


</form>